body {
    margin: 60px auto;
    width: 70%;
     background: url(images/imagespie.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
background-size: cover;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
   
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #999999;
    font-size: 0.8em;
}


ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
.notactive {
   pointer-events: none;
   cursor: default;
   opacity: 0.6;
}

.teaser {
    height: 450px;
    position: relative;
    overflow: hidden;
    background-color: #000;
    margin-left: -100%;
    margin-right: -23%;
    margin-top: -10%;
    padding-bottom: 20%;
}

.teaserimage-image {
    background: url(images/galaxy.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
    padding: 100%;
}

}
.teaser .teaserimage-image {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    text-indent: -9999px;
}

.text{
  z-index: 100;
  position: absolute;
  font-family: "Roboto",-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI","Oxygen","Ubuntu","Cantarell","Open Sans",sans-serif;
  color: white;
  font-size: 24px;
  font-weight: bold;
  left: 45%;
  top: 40%;
  text-shadow: 1px 2px 4px #4A4B0D, 0 0 6px #E19476, 0 0 10px #107C99;
  opacity: 0.8;
}

.elementdot {
  height: 35px;
  width: 35px;
  margin: 0 auto;
  background-color: red;
  animation-name: stretch;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
  margin-left: 168px;
  margin-top: -30px;
}

@keyframes stretch {
  0% {
    transform: scale(.6);
    background-color: red;
    border-radius: 100%;
  }
  50% {
    background-color: orange;
  }
  100% {
    transform: scale(0.9);
    background-color: darkorchid;
  }
}
#details0{
    display:none;
}
#details1{
    display:none;
}
#details2{
    display:none;
}
.styleme{
    background: #000;
    color: white;
    margin-left: -50%;
}
    


