<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="cssfiles/main1.css">
	</head>
	<body>
		
		<div class="teaser">
	<div class="teaserimage-image" style="background-image: url(&quot;../cssfiles/images/experiment.jpg&quot;);
	transform: translate3d(0px, 103.333px, 0px); opacity: 0.557143;">Teaser Image</div>
		</div>
		<nav>
    		<ul>
        		<li><a href="/" class="notactive">Home</a></li>
	        	<li><a href="/spieti/about">About</a></li>
        		<li><a href="/spieti/projects">Projects</a></li>
            <li><a href="/spieti/team">Team</a></li>
            <li><a href="/spieti/psd">PSD</a></li> <!-- policies - sponsorships - Donation -->
            <li><a href="/spieti/careers">Careers</a></li>
            <li><a href="/spieti/resources">Resources</a></li>
        		<li><a href="/spieti/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        
        		{{ content }}
            
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:spietechnoindia@gmail.com">email</a></li>
        		<li>Contributor: <a href="https://github.com/DarkDem">github.com/DarkDem</a></li>
			</ul>
		</footer>
	</body>
</html>
