<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="../cssfiles/main2.css">
    <script src="assets/js/jquery.min.js"></script>
	  <!--<script src="assets/js/jquery.poptrox.min.js"></script>-->
		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/main.js"></script>
	</head>
	<body>
		<div class=statical>
		<nav class=stylenav>
    		<ul>
        		<li><a href="/spieti">Home</a></li>
	        	<li><a href="/spieti/about">About</a></li>
        		<li><a href="/spieti/projects">Projects</a></li>
            <li><a href="/spieti/team">Team</a></li>
            <li><a href="/spieti/psd">PSD</a></li> <!-- policies - sponsorships - Donation -->
            <li><a href="/spieti/careers">Careers</a></li>
            <li><a href="/" class="notactive">Resources</a></li>
        		<li><a href="/spieti/blog">Blog</a></li>
    		</ul>
		</nav>
		</div>
    <div id="wrapper">

				<!-- Header -->
					<header id="header">
						<span class="avatar"><img src="../cssfiles/images/logo.png" alt="" /></span>
						<h1>This SPIETI team comes with free resources and materials to help you get started with the world of photonics aka the basis of life. Therefore, we have compiled a set of <strong>open source resources</strong>, which we believe, will be very useful to our visitors. We will be continuously updating the list by adding newer ones. Our repository covers a wide array of topics ranging from Optics to Computer Science and Theoretical Physics. Keep checking!</h1>
						<ul class="icons">
							<li><a href="https://www.facebook.com/spie.technoindia" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
						</ul>
					</header>

				<!-- Main -->
					<section id="main">

						<!-- Thumbnails -->
							<section class="thumbnails">
								<div>
									<a href="http://spie.org/education/education-outreach-resources" target="_blank">
										<img src="../cssfiles/images/thumbs/r1.jpg" alt="" />
										<h3>Education Outreach Resources from SPIE</h3>
									</a>
									<a href="http://spie.org/publications/fundamentals-of-photonics-modules" target="_blank">
										<img src="../cssfiles/images/thumbs/r2.jpg" alt="" />
										<h3>Fundamentals of Photonics Modules by SPIE: A collection of some of the best available resources on optics and optical engineering.</h3>
									</a>
									<a href="https://ocw.mit.edu/index.htm" target="_blank"> 
										<img src="../cssfiles/images/thumbs/r8.jpg" alt="" />
										<h3>MIT OpenCourseWare</h3>
									</a>
								</div>
								<div>
									<a href="http://www.staff.science.uu.nl/~gadda001/goodtheorist/index.html" target="_blank">
										<img src="../cssfiles/images/thumbs/r3.jpg" alt="" />
										<h3>‘How to become a good theoretical physicist’ by Nobel Laureate Gerard 't Hooft</h3>
									</a>
									<a href="https://www.youtube.com/channel/UCiEHVhv0SBMpP75JbzJShqw" target="_blank">
										<img src="../cssfiles/images/thumbs/r4.jpg" alt="" />
										<h3>Lecture videos on Physics by Walter Lewin, Former Professor of Physics at MIT</h3>
									</a>
									<a href="http://www.feynmanlectures.caltech.edu/" target="_blank">
										<img src="../cssfiles/images/thumbs/r5.jpeg" alt="" />
										<h3>The Feynman Lectures on Physics</h3>
									</a>
									<a href="http://www.osa.org/en-us/membership_education/youth_education/" target="_blank">
										<img src="../cssfiles/images/thumbs/r6.jpg" alt="" />
										<h3>Education resources from OSA</h3>
									</a>
								</div>
								<div>
									<a href="http://online.stanford.edu/" target="_blank">
										<img src="../cssfiles/images/thumbs/r9.jpeg" alt="" />
										<h3>Stanford Online resources</h3>
									</a>
									<a href="https://www.youtube.com/playlist?list=PLqWGPVnQ0ZiIyGl5NgXlM5FKoZPrFXl9W" target="_blank">
										<img src="../cssfiles/images/thumbs/r7.jpg" alt="" />
										<h3>Lectures on Fiber Optics by Ajoy Ghatak, IIT Delhi</h3>
									</a>
									<a href="http://nptel.ac.in/" target="_blank">
										<img src="../cssfiles/images/thumbs/r10.jpeg" alt="" />
										<h3>National Programme on Technology Enhanced Learning, MHRD, Government of India</h3>
									</a>
								</div>
							</section>

					</section>
</div>
		<div class="container">
    		<div class="blurb">
        
        		{{ content }}
            
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:spietechnoindia@gmail.com">email</a></li>
        		<li>Contributor: <a href="https://github.com/DarkDem">github.com/DarkDem</a></li>
			</ul>
		</footer>
	</body>
</html>
