<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="cssfiles/main1.css">
		<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
		<script type="text/javascript" src = "js/spiedefjs.js"></script>
	</head>
	<body>
		
		<div class="teaser">
	        <div class="teaserimage-image">
			<img class="mySlides" src="cssfiles/images/galaxy.jpg" style="width:100%">
			<img class="mySlides" src="cssfiles/images/light.jpg" style="width:100%">
			<img class="mySlides" src="cssfiles/images/education.jpg" style="width:100%">
			<img class="mySlides" src="cssfiles/images/technology.jpg" style="width:100%">
			     
                 </div>
			<!-- text animation-->
			<div class="text">
                               <h2>
				<span class="lfd" style="transition-delay: 0s;">S</span>
				<span class="lfd" style="transition-delay: 0.0166667s;">P</span>
				<span class="lfd" style="transition-delay: 0.0333333s;">I</span>
				<span class="lfd" style="transition-delay: 0.05s;">E</span>
			        <div class="elementdot"></div>
				<span class="lfd" style="transition-delay: 0.0666666s;">Techno India Student Chapter</span>
				</h2>
                        </div>
			<!-- ------ -->
			<div class="w3-center w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
    <div class="w3-left w3-padding-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
    <div class="w3-right w3-padding-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)">..</span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)">..</span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)">..</span>
  </div>
</div>
		
		<nav>
    		<ul>
        		<li><a href="/" class="notactive">Home</a></li>
	        	<li><a href="/spieti/about">About</a></li>
        		<li><a href="/spieti/projects">Projects</a></li>
            <li><a href="/spieti/team">Team</a></li>
            <li><a href="/spieti/psd">PSD</a></li> <!-- policies - sponsorships - Donation -->
            <li><a href="/spieti/careers">Careers</a></li>
            <li><a href="/spieti/resources">Resources</a></li>
        		<li><a href="/spieti/blog">Blog</a></li>
    		</ul>
		</nav>
	
		<div class="container">
    		<div class="blurb">
        
        		{{ content }}
            
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:spietechnoindia@gmail.com">email</a></li>
        		<li>Contributor: <a href="https://github.com/DarkDem">github.com/DarkDem</a></li>
			</ul>
		</footer>
	</body>
</html>
