<!DOCTYPE HTML>
<html>
	<head>
		<title>Bloggism</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet"type="text/css" href="../cssfiles/main7.css">
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<!--<div id="wrapper">-->

				<!-- Header -->
					<!--<header id="header" class="alt">
						<a href="index.html" class="logo"><strong>SPIETI</strong><span>stories</span></a>-->
						<!--<nav>-->
							<!--<a href="#menu">Menu</a>-->
						<!--</nav> -->
					<!--</header>-->
					<!--</div>-->


				<!-- Menu -->
				    <div class="statical">
				    <nav class="stylnav">
					<!--<nav id="menu">-->
					<!--<header id="header" class="alt">-->
						<!--<div class="myclassforh"><strong>SPIETI</strong><span>stories</span></div>-->
						<!--<nav>-->
							<!--<a href="#menu">Menu</a>-->
						<!--</nav> -->
					<!--</header>-->
						<ul class="link"><!--<ul class="links">-->
							<li><a href="/spieti">Home</a></li>
	        	            <li><a href="/spieti/about">About</a></li>
        		            <li><a href="/spieti/projects">Projects</a></li>
                            <li><a href="/spieti/team">Team</a></li>
                            <li><a href="/spieti/psd">PSD</a></li> <!-- policies - sponsorships - Donation -->
                            <li><a href="/spieti/careers">Careers</a></li>
                            <li><a href="/spieti/resources">Resources</a></li>
                            <li><a href="/" class="notactive">Blog</a></li>
						</ul>
						<!--<ul class="actions vertical">
							<li><a href="#" class="button special fit">Get Started</a></li>
							<li><a href="#" class="button fit">Log In</a></li>
						</ul> -->
					</nav> 
					</div>
					<!--</div>-->

				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1><strong>SPIETI</strong> STORIES</h1>
							</header>
							<div class="content">
								<p>Know Our Stories<br />
								Learn Our Passion With Intuition</p>
								<ul class="actions">
									<li><a href="#one" class="button next scrolly">Drown In</a></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one" class="tiles">
								<article>
									<span class="image">
										<img src="images/pic01.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="landing.html" class="link">Sample1</a></h3>
										<p>Description 1 sample 1</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic02.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="landing.html" class="link">sample2</a></h3>
										<p>Description 2 sample 2</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic03.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="landing.html" class="link">sample3</a></h3>
										<p>Description 3 sample 3</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic04.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="landing.html" class="link">sample4</a></h3>
										<p>Description 4 sample 4</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic05.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="landing.html" class="link">sample5</a></h3>
										<p>Description 5 sample 5</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic06.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="landing.html" class="link">sample6</a></h3>
										<p>Description 6 sample 6</p>
									</header>
								</article>
							</section>

						<!-- Two -->
							<section id="two">
								<div class="inner">
									<header class="major">
										<h2>Editor Picked</h2>
									</header>
									<p>The story of our everyday journey and insider spices with a shots of protein drink.</p>
									<ul class="actions">
										<li><a href="landing.html" class="button next">Get Started</a></li>
									</ul>
								</div>
							</section>

					</div>


				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<center><ul class="icons">
								<!--<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>-->
								<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
								<!--<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>-->
							</ul></center>
							<ul class="copyright">
								<center><li>Contributor:<a href="spietechnoindia@gmail.com">darkdem</a></li><li>Contributor:<a href="https://github.com/DarkDem">darkdem</a></li></center>
							</ul>
						</div>
					</footer>

			
		<!-- Scripts -->
			<script src="../js/jquery1.min.js"></script>
			<script src="../js/jquery1.scrolly.min.js"></script>
			<script src="../js/jquery1.scrollex.min.js"></script>
			<script src="../js/skel1.min.js"></script>
			<script src="../js/util1.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../js/main1.js"></script>

	</body>
</html>
